# Ejemplo de archivo .env para Movie Finder API
# Copia este archivo como .env y completa los valores necesarios

# GENERAL
PORT=3000
SECRET_KEY="your_secret_key"

# DB
STORAGE_TYPE="mongoose"
DB_DEBUG=true
MONGODB_CONNECTION_STRING="mongodb://localhost:27017"
MONGODB_DB_NAME="pelisyseries-db"
MONGODB_SERVER_SELECTION_TIMEOUT_MS=1000

# TMDB
TMDB_API_KEY="your_tmdb_api_key"

# CACHE
CACHE_TYPE="in-memory"        # o "redis" para producción
CACHE_DEBUG=true

# REDIS (solo si usas redis)
REDIS_URL="your_redis_url"
REDIS_TOKEN="your_redis_token"

# SENTRY (opcional)
SENTRY_DSN="your_sentry_dsn"
SENTRY_SERVICE_NAME="pelis-y-series-app-backend"

# CLOUDINARY (opcional, solo si usas subida de imágenes)
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
